@import '~uqlibrary-react-toolbox/sass/variables';

.facetsFilter {
  padding: 24px 24px 0 0;
  min-width: 140px;

  .is-helpicon {
    margin: -12px -6px 0 0 !important;
  }

  h3.title {
    color: $theme-color;
    margin-bottom: 0px;
    padding-bottom: 6px;
  }
  .facetsKeywordFilter {
    margin-bottom: 0px !important;
  }
  .facetsCategoryTitle {
    margin: 6px 0 !important;
    font-weight: bold !important;
  }
  .facetsClearButton{
    opacity: 0.2;
      &:hover {
        opacity: 0.8;
      }
    &:focus {
      opacity: 1;
    }
  }
  .facetsKeywordInput {
  }
  .facetsList{
    width: calc(100% - 24px);
    .facetListItems {
      font-weight: normal !important;
      padding: 2px 0px 2px 12px;
      & span {
        opacity: 0.5;
      }

      &:hover {
        cursor: pointer;
      }

      &.active {
        color: $accent-color;
        padding: 2px 0px 2px 24px;
        font-weight: normal !important;
        width: 100%;
        background-image: url('data:image/svg+xml;utf-8,<svg fill="#CCCCCC" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') ;
        background-position: right;
        background-size: 20px;
        background-repeat: no-repeat;
      }
    }
  }
}